/*

    Elements

*/
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  background: url("/img/bg.png");
  font-family: "Source Code Pro", sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  overflow-y: scroll;
  overflow-x: hidden; }

footer {
  font-size: 10px;
  text-align: center; }

a:active,
a:hover,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  transition: .1s ease-in; }

a:hover {
  transition: .1s ease-out; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

p + p {
  margin-top: 20px; }

strong {
  font-weight: 700; }

/*

    General

*/
.divider-container-lg {
  text-align: center;
  width: 100%; }
  .divider-container-lg .divider-lg {
    display: inline-block;
    border-bottom: 4px dashed #FF595E;
    margin: 60px 0;
    width: 100%; }

.divider-container-sm {
  text-align: center;
  width: 100%; }
  .divider-container-sm .divider-sm {
    display: inline-block;
    border-bottom: 4px dashed #FF595E;
    margin: 60px 0;
    width: 100px; }

.layout {
  height: 100%;
  margin: 0 auto;
  max-width: 1024px; }

.male {
  color: #1982C4; }

.female {
  color: #FF595E; }

.highlight {
  box-shadow: inset 400px 0 0 0 #FF595E;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-shadow: #222 .1em .1em 0;
  cursor: default;
  padding: 0 5px; }
  .highlight svg {
    color: #fff;
    -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
    filter: drop-shadow(#222 0.1em 0.1em 0); }

/*

    Navigation

*/
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  width: 400px; }
  .sidebar .sidebar-submenu-container {
    height: calc(100% - 200px);
    width: 100%; }
  .sidebar .sidebar-submenu {
    display: none;
    font-size: 12px;
    height: 100%;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .sidebar .sidebar-submenu ul {
      border-left: 4px dashed #FF595E;
      border-right: 4px dashed #FF595E;
      background-color: rgba(255, 255, 255, 0.75);
      display: inline-block;
      padding: 40px;
      position: relative; }
      .sidebar .sidebar-submenu ul li {
        display: block;
        line-height: 12px; }
        .sidebar .sidebar-submenu ul li a {
          display: inline-block;
          line-height: 12px;
          padding: 0 8px;
          text-shadow: #fff 0.07em 0.07em 0; }
        .sidebar .sidebar-submenu ul li.active a,
        .sidebar .sidebar-submenu ul li a:hover {
          box-shadow: inset 400px 0 0 0 #FF595E;
          color: #fff;
          cursor: pointer;
          font-weight: 700;
          text-shadow: #222 .1em .1em 0; }
          .sidebar .sidebar-submenu ul li.active a svg,
          .sidebar .sidebar-submenu ul li a:hover svg {
            color: #fff;
            -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
            filter: drop-shadow(#222 0.1em 0.1em 0); }
        .sidebar .sidebar-submenu ul li.active {
          transform: rotate(-4.5deg); }
      .sidebar .sidebar-submenu ul li + li {
        margin-top: 20px; }
  .sidebar .sidebar-main-menu {
    padding: 0 40px 40px 40px;
    min-width: 100%;
    text-align: center;
    position: relative; }
    .sidebar .sidebar-main-menu .featured-petz.a {
      position: absolute;
      left: -10px;
      top: -45px;
      z-index: -20; }
    .sidebar .sidebar-main-menu .featured-petz.b {
      position: absolute;
      top: -25px;
      right: 2.5px;
      z-index: 0; }
    .sidebar .sidebar-main-menu summary {
      color: #222;
      display: inline-block;
      font-family: "Caveat Brush", sans-serif;
      font-size: 16px;
      right: 110px;
      top: -2.5px;
      position: absolute;
      transform: rotate(1deg); }
    .sidebar .sidebar-main-menu header {
      margin: 0;
      padding: 0; }
      .sidebar .sidebar-main-menu header h1 {
        color: #FEFEFA;
        display: inline-block;
        font-family: "Caveat Brush", sans-serif;
        font-size: 40px;
        font-weight: 500;
        padding: 0;
        position: relative;
        margin-top: 6px;
        text-shadow: #222 0.07em 0.07em 0; }
      .sidebar .sidebar-main-menu header h1::before {
        background-color: #FF595E;
        bottom: 0;
        content: "";
        height: 60%;
        left: -2px;
        position: absolute;
        transform: rotate(-2deg);
        width: calc(100% + 4px);
        z-index: -1; }
    .sidebar .sidebar-main-menu .main-menu {
      display: inline-block; }
      .sidebar .sidebar-main-menu .main-menu li {
        float: left; }
      .sidebar .sidebar-main-menu .main-menu li + li {
        margin-left: 5px; }
    .sidebar .sidebar-main-menu .main-menu-overlay {
      border-left: 4px dashed #FF595E;
      border-right: 4px dashed #FF595E;
      background-color: rgba(255, 255, 255, 0.75);
      height: 50px;
      letter-spacing: 1px;
      line-height: 50px;
      padding: 0 10px;
      position: relative;
      z-index: 5;
      text-align: center;
      text-transform: uppercase;
      width: 100%; }
      .sidebar .sidebar-main-menu .main-menu-overlay ul li {
        font-size: 12px;
        font-weight: 700;
        float: left;
        line-height: 12px; }
        .sidebar .sidebar-main-menu .main-menu-overlay ul li a {
          display: block;
          padding: 0 8px; }
        .sidebar .sidebar-main-menu .main-menu-overlay ul li.active {
          box-shadow: inset 400px 0 0 0 #FF595E;
          color: #fff;
          cursor: pointer;
          font-weight: 700;
          text-shadow: #222 .1em .1em 0;
          transform: rotate(2.5deg); }
          .sidebar .sidebar-main-menu .main-menu-overlay ul li.active svg {
            color: #fff;
            -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
            filter: drop-shadow(#222 0.1em 0.1em 0); }
      .sidebar .sidebar-main-menu .main-menu-overlay ul li:hover {
        box-shadow: inset 400px 0 0 0 #FF595E;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        text-shadow: #222 .1em .1em 0; }
        .sidebar .sidebar-main-menu .main-menu-overlay ul li:hover svg {
          color: #fff;
          -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
          filter: drop-shadow(#222 0.1em 0.1em 0); }

/*

    Content

*/
.main {
  float: right;
  font-size: 12px;
  letter-spacing: 1px;
  height: 100%;
  padding: 0 40px 0 0;
  width: calc(100% - 400px); }

.content-container {
  border-left: 4px dashed #FF595E;
  border-right: 4px dashed #FF595E;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 40px;
  min-height: 100%;
  max-width: 600px;
  text-align: center; }
  .content-container a {
    color: #FF595E;
    font-weight: 700;
    transition: .1s ease-in; }
    .content-container a:hover {
      box-shadow: inset 400px 0 0 0 #FF595E;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      text-shadow: #222 .1em .1em 0;
      padding: 0 5px;
      transition: .1s ease-out; }
      .content-container a:hover svg {
        color: #fff;
        -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
        filter: drop-shadow(#222 0.1em 0.1em 0); }
  .content-container h2 {
    color: #FEFEFA;
    display: inline-block;
    font-family: "Caveat Brush", sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    position: relative;
    margin: 0 0 40px 0;
    text-shadow: #222 0.07em 0.07em 0;
    z-index: 2; }
  .content-container h2::before {
    background-color: #FF595E;
    bottom: 0;
    content: "";
    height: 60%;
    left: -2px;
    position: absolute;
    transform: rotate(2deg);
    width: calc(100% + 4px);
    z-index: -1; }
  .content-container .content-introduction {
    text-align: center; }

.sub-section {
  text-align: center; }
  .sub-section img {
    max-width: 100%;
    height: auto; }
  .sub-section .sub-section-header {
    display: block;
    font-weight: 700;
    margin-bottom: 20px; }
    .sub-section .sub-section-header.margin-0 {
      margin-bottom: 0; }
    .sub-section .sub-section-header span {
      display: inline-block; }
    .sub-section .sub-section-header .sub-section-header-descriptor {
      display: block;
      margin-bottom: 5px; }
  .sub-section .sub-section-header-descriptor {
    display: block;
    font-weight: 400;
    margin-bottom: 20px; }
  .sub-section .sub-section-header-image {
    display: inline-block;
    margin-bottom: 20px; }
    .sub-section .sub-section-header-image.rounded img {
      border-radius: 40px; }
  .sub-section .sub-section-content-container {
    margin-top: 30px;
    text-align: center; }
    .sub-section .sub-section-content-container img {
      display: inline-block;
      margin-top: 10px; }
    .sub-section .sub-section-content-container img + img {
      margin-left: 2.5px; }

/*

    Links

*/
.links-url {
  background-color: rgba(255, 89, 95, 0.04);
  border: 2px dashed #FF595E;
  display: inline-block;
  margin-top: 20px;
  padding: 4px 8px; }

/*

    Shows

*/
.show-results .show-placements {
  display: inline-block; }
  .show-results .show-placements li + li {
    margin-top: 5px; }

.show-stamp {
  margin: 20px 0 20px 0; }

/*

    Stamps

*/
.normalize-stamps img {
  width: 99px;
  height: 95px; }

/*

    Breeders

*/
.breeder-item {
  display: inline-block;
  vertical-align: top; }
  .breeder-item img {
    margin-bottom: 15px; }
  .breeder-item span {
    display: block;
    margin-bottom: 10px; }
  .breeder-item .breeder-item-label {
    font-weight: 700; }
  .breeder-item .download-link {
    margin: 10px 0; }

/*

    Adoptions

*/
.item-header {
  display: block;
  font-weight: 700; }
  .item-header .item-header-details {
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 5px 0 25px 0; }

.item-description {
  margin: 0 auto;
  max-width: 75%; }

.pet-item-container {
  margin-top: 40px; }

.pet-item {
  display: inline-block;
  max-width: 200px;
  vertical-align: top; }
  .pet-item p {
    margin: 10px; }
  .pet-item .pet-item-image-container {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px; }
    .pet-item .pet-item-image-container img {
      margin: 0; }

/*

    Kennels

*/
.kennel-item-container {
  height: 250px; }
  .kennel-item-container .kennel-item {
    height: 100%;
    width: 100%; }
    .kennel-item-container .kennel-item .kennel-item-image {
      align-items: center;
      display: flex;
      float: left;
      height: 100%;
      justify-content: center;
      width: 250px; }
      .kennel-item-container .kennel-item .kennel-item-image img {
        max-width: 210px; }
    .kennel-item-container .kennel-item .kennel-item-details {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 20px;
      width: calc(100% - 250px);
      text-align: center; }
      .kennel-item-container .kennel-item .kennel-item-details img {
        margin-bottom: 10px; }
      .kennel-item-container .kennel-item .kennel-item-details ul {
        font-size: 10px; }
        .kennel-item-container .kennel-item .kennel-item-details ul strong {
          text-transform: uppercase; }

/*

    Downloads

*/
.download-link a {
  color: #222;
  font-weight: 400; }
  .download-link a:hover {
    padding: 0 5px; }
.download-link svg {
  color: #FF595E;
  font-size: 10px; }
.download-link li + li {
  margin-top: 10px; }
.download-link.margin-t-10 {
  margin-top: 10px; }

/*

    Filter

*/
.filter-menu li {
  background-color: #FF595E;
  display: inline-block; }

/*

    Tweaks

*/
.margin-none {
  margin: 0; }

.select2-container--default {
  font-family: "Source Code Pro" !important;
  width: 75% !important; }

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  border: 3px dashed #FF595E !important;
  border-radius: 0;
  min-height: 20px !important;
  padding: 4px !important;
  margin-top: 40px !important; }

.select2-dropdown {
  font-size: 12px !important;
  border: 3px dashed #FF595E;
  border-top: none; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: none;
  border-radius: 0;
  border-color: #FF595E;
  background-color: #fff; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    cursor: default; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FF595E;
  font-weight: 900 !important;
  padding: 0 4px 0 6px !important;
  transition: .1s ease-in; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    transition: .1s ease-out;
    box-shadow: inset 400px 0 0 0 #FF595E;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    text-shadow: #222 .1em .1em 0; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover svg {
      color: #fff;
      -webkit-filter: drop-shadow(#222 0.1em 0.1em 0);
      filter: drop-shadow(#222 0.1em 0.1em 0); }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(255, 89, 95, 0.25);
  color: #222; }

::-webkit-input-placeholder {
  font-family: "Source Code Pro", sans-serif; }

::-moz-placeholder {
  font-family: "Source Code Pro", sans-serif; }

:-ms-input-placeholder {
  font-family: "Source Code Pro", sans-serif; }

::-ms-input-placeholder {
  font-family: "Source Code Pro", sans-serif; }

:-moz-placeholder {
  font-family: "Source Code Pro", sans-serif; }

/*

    Hover override for <a> elements containing images:

*/
.no-hover a:hover {
  box-shadow: none;
  text-shadow: none;
  padding: 0; }

/*# sourceMappingURL=site.css.map */
