{% extends "admin/admin.html" %} {% block main %}

<textarea style="display: none">{{ picklists | dump }}</textarea>

<form action="" enctype="multipart/form-data" method="POST" style="margin-bottom: 80px">
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Edit Pet</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Biography</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label>Name:</label><span class="required">*</span>
                                <input name="petName" type="text" class="form-control" placeholder="N/A" required>
                            </div>
                            <div class="col-md-2">
                                <label>Gender:</label><span class="required">*</span>
                                <select name="petGender" class="form-control" required>
                                    {% for gender in dropdowns.genders %}
                                    <option 
                                        {% if gender == pet.gender %}selected{% endif %}
                                        value="{{ gender }}">{{ gender }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Breed:</label><span class="required">*</span>
                                <select name="petBreed" class="form-control" required>
                                    {% for breed in dropdowns.breeds %}
                                    <option 
                                        {% if breed.id == pet.breed_id %}selected{% endif %}
                                        value="{{ breed.id }}">{{ breed.breed_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label>Gen(s):</label>
                                <input name="petGeneration" type="text" class="form-control" placeholder="N/A">
                            </div>
                            <div class="col-md-2">
                                <label>Birth Date:</label>
                                <input name="petBirthDate" type="text" class="form-control" placeholder="N/A">
                            </div>
                            <div class="col-md-2">
                                <label>Adoption Date:</label>
                                <input name="petAdoptionDate" type="text" class="form-control" placeholder="N/A">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Origin:</label><span class="required">*</span>
                                <select name="petOrigin" class="form-control" required>
                                    {% for origin in dropdowns.origins %}
                                        <option
                                            {% if origin == pet.origin %}selected{% endif %}
                                            value="{{ origin }}">{{ origin }}
                                            </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Previous Owner:</label>
                                <input name="petPreviousOwner" type="text" class="form-control" placeholder="N/A">
                            </div>
                            <div class="col-md-3">
                                <label>Website:</label>
                                <input name="petWebsite" type="text" class="form-control" placeholder="N/A">
                            </div>
                            <div class="col-md-5">
                                <label>URL:</label>
                                <input name="petURL" type="text" class="form-control" placeholder="N/A">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="checkbox-inline no_indent">
                                    <input name="petInbred" type="checkbox" value="Inbred"> Inbred
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petOverbred" type="checkbox" value="Overbred"> Overbred
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petPedigreed" type="checkbox" value="Pedigreed"> Pedigreed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petCrossbreed" type="checkbox" value="Crossbreed"> Crossbreed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petSelectiveBreed" type="checkbox" value="Selective Breed"> Selective Breed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petMixedBreed" type="checkbox" value="Mixed Breed"> Mixed Breed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petTreeTrimmed" type="checkbox" value="Tree Trimmed"> Tree Trimmed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petHexed" type="checkbox" value="Hexed"> Hexed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petBrexed" type="checkbox" value="Brexed"> Brexed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input name="petLegacy" type="checkbox" value="Legacy"> Legacy
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea name="petDescription" class="form-control" rows="3" placeholder="Description..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Career</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Status:</label>
                                <select name="petStatus" class="form-control">
                                    {% for status in dropdowns.statuses %}
                                        <option
                                            {% if status == pet.status%}selected{% endif %}
                                            value="{{ status }}">{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Prefix Title(s):</label>
                                <input name="petPrefixTitle" type="text" class="form-control" placeholder="N/A">
                            </div>
                            <div class="col-md-2">
                                <label>Show Prefix(es):</label>
                                <div class="input-group">
                                    <input name="petShowPrefix" type="text" class="form-control" placeholder="N/A">
                                    <span class="input-group-addon">/</span>
                                    <!-- Combine the two strings -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Show Name:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">KK's</span>
                                    <input name="petShowName" type="text" class="form-control" placeholder="N/A">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Suffix Title(s):</label>
                                <input name="petSuffixTitle" type="text" class="form-control" placeholder="N/A">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Dali (Portrait) Show Pose:</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Dane (Profile) Show Pose:</label>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Website</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Page:</label><span class="required">*</span>
                                <select name="petPage" class="form-control" required>
                                    {% for page in dropdowns.petpages %}
                                    <option 
                                        {% if page.id == pet.page_id %}selected{% endif %}
                                        value="{{ page.id }}">{{ page.page_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Litter:</label>
                                <select name="petLitter" class="form-control">
                                    {% for litter in dropdowns.litters %}
                                    <option
                                        {% if litter.id == pet.litter_id %}selected{% endif %}
                                        value="{{ litter.id }}">{{ litter.litter_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Photograph:</label><span class="required">*</span>
                                    <input type="file" name="photo" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Thumbnail:</label>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="btn-toolbar col-md-12">
                            <button type="submit" class="btn btn-default pull-right">Submit</button>
                            <button type="submit" class="btn btn-default pull-right">Delete</button>
                            <a href="/admin/pets" class="btn btn-default pull-right">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('form').on('submit', function () {
        try {
            var form = new FormData(document.forms[0]);

            $.ajax({
                url: '/admin/edit-pet',
                data: form,
                type: 'POST',
                processData: false,
                contentType: false
            });
        } catch (err) {
            console.error(err);
        }

        return false;
    });
</script> {% endblock %}