<!DOCTYPE html>
<html>

<head>
    <title>Kasual Kennels</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../css/admin.css" rel="stylesheet">
    <script defer src="/js/fontawesome-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="/js/file-control.js"></script>
</head>

<body>
    {% include "admin/admin-nav.html" %}
    <div class="main">
        {% block main %} {% endblock %}
    </div>
</body>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</html>