{% extends "admin/admin.html" %} {% block main %}

<textarea style="display: none">{{ picklists | dump }}</textarea>

<form action="" enctype="multipart/form-data" method="POST" style="margin-bottom: 80px">
    <input type="hidden" name="image_dali_id" value="{{ pet.image_dali_id }}">
    <input type="hidden" name="image_dane_id" value="{{ pet.image_dane_id }}">
    <input type="hidden" name="image_photo_id" value="{{ pet.image_photo_id }}">
    <input type="hidden" name="image_thumb_id" value="{{ pet.image_thumb_id }}">
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Edit Pet</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Biography</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label>Name:</label><span class="required">*</span>
                                <input name="pet_name" type="text" class="form-control" placeholder="N/A" required value="{{ pet.pet_name }}">
                            </div>
                            <div class="col-md-2">
                                <label>Gender:</label><span class="required">*</span>
                                <select name="gender" class="form-control" required>
                                    {% for gender in dropdowns.genders %}
                                    <option 
                                        {% if gender == pet.gender %}selected{% endif %}
                                        value="{{ gender }}">{{ gender }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Breed:</label><span class="required">*</span>
                                <select name="breed_id" class="form-control" required>
                                    {% for breed in dropdowns.breeds %}
                                    <option 
                                        {% if breed.id == pet.breed_id %}selected{% endif %}
                                        value="{{ breed.id }}">{{ breed.breed_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label>Gen(s):</label>
                                <input name="generation" type="number" class="form-control" placeholder="N/A" value="{{ pet.generation }}">
                            </div>
                            <div class="col-md-2">
                                <label>Birth Date:</label>
                                <input name="birth_date" type="text" class="form-control" placeholder="N/A" value="{{ pet.birth_date }}">
                            </div>
                            <div class="col-md-2">
                                <label>Adoption Date:</label>
                                <input name="adoption_date" type="text" class="form-control" placeholder="N/A" value="{{ pet.adoption_date }}">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Origin:</label><span class="required">*</span>
                                <select name="origin" class="form-control" required>
                                    {% for origin in dropdowns.origins %}
                                        <option
                                            {% if origin == pet.origin %}selected{% endif %}
                                            value="{{ origin }}">{{ origin }}
                                            </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Previous Owner:</label>
                                <input name="previous_owner" type="text" class="form-control" placeholder="N/A" value="{{ pet.previous_owner }}">
                            </div>
                            <div class="col-md-3">
                                <label>Website:</label>
                                <input name="previous_site" type="text" class="form-control" placeholder="N/A" value="{{ pet.previous_site }}">
                            </div>
                            <div class="col-md-5">
                                <label>URL:</label>
                                <input name="previous_url" type="text" class="form-control" placeholder="N/A" value="{{ pet.previous_url }}">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12">
                                {% for pet_trait in pet.traits %}
                                <label class="checkbox-inline no_indent">
                                    <input name="traits" type="checkbox" value="{{ pet_trait.id }}"
                                        {% if pet_trait.value %}
                                        checked
                                        {% endif %}
                                    > {{ pet_trait.trait_name }}
                                </label>
                                {% endfor %}
                                {# <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Inbred"> Inbred
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Overbred"> Overbred
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Pedigreed"> Pedigreed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Crossbreed"> Crossbreed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Selective Breed"> Selective Breed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Mixed Breed"> Mixed Breed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Tree Trimmed"> Tree Trimmed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Hexed"> Hexed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Brexed"> Brexed
                                </label>
                                <label class="checkbox-inline no_indent">
                                    <input type="checkbox" value="Legacy"> Legacy
                                </label> #}
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea name="description" class="form-control" rows="3" placeholder="Description...">{{ pet.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Career</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Status:</label>
                                <select name="career_status" class="form-control">
                                    {% for status in dropdowns.statuses %}
                                        <option
                                            {% if status == pet.status%}selected{% endif %}
                                            value="{{ status }}">{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Prefix Title(s):</label>
                                <input name="prefix_titles" type="text" class="form-control" placeholder="N/A" value="{{ pet.prefix_titles }}">
                            </div>
                            <div class="col-md-2">
                                <label>Show Prefix(es):</label>
                                <div class="input-group">
                                    <input name="show_prefixes" type="text" class="form-control" placeholder="N/A" value="{{ pet.show_prefixes }}">
                                    <span class="input-group-addon">/</span>
                                    <!-- Combine the two strings -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Show Name:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">KK's</span>
                                    <input name="show_name" type="text" class="form-control" placeholder="N/A" value="{{ pet.show_name }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Suffix Title(s):</label>
                                <input name="suffix_titles" type="text" class="form-control" placeholder="N/A" value="{{ pet.suffix_titles }}">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Dali (Portrait) Show Pose:</label>
                                    {% if pet.image_dali_id %}
                                    <img class="thumbnail" src="/uploads/{{ pet.image_dali }}">
                                    {% endif %}
                                    <input name="dali" type="file">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Dane (Profile) Show Pose:</label>
                                    {% if pet.image_dane_id %}
                                    <img class="thumbnail" src="/uploads/{{ pet.image_dane }}">
                                    {% endif %}
                                    <input name="dane" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Website</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label>Page:</label><span class="required">*</span>
                                <select name="page_id" class="form-control" required>
                                    {% for page in dropdowns.petpages %}
                                    <option 
                                        {% if page.id == pet.page_id %}selected{% endif %}
                                        value="{{ page.id }}">{{ page.page_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Litter:</label>
                                <select name="litter_id" class="form-control">
                                    {% for litter in dropdowns.litters %}
                                    <option
                                        {% if litter.id == pet.litter_id %}selected{% endif %}
                                        value="{{ litter.id }}">{{ litter.litter_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Photograph:</label>{% if not pet.id %}<span class="required">*</span>{% endif %}
                                    {% if pet.image_photo_id %}
                                    <img class="thumbnail" src="/uploads/{{ pet.image_photo }}">
                                    {% endif %}
                                    <input type="file" name="photo" {% if not pet.id %}required {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Thumbnail:</label>
                                    {% if pet.image_thumb_id %}
                                    <img class="thumbnail" src="/uploads/{{ pet.image_thumb }}">
                                    {% endif %}
                                    <input name="thumb" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="btn-toolbar col-md-12">
                            <button type="submit" class="btn btn-default pull-right">Submit</button>
                            <a href="/admin/pets" class="btn btn-default pull-right">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('form').on('submit', function () {
        try {
            var form = new FormData(document.forms[0]);

            $.ajax({
                url: window.location.href,
                data: form,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.id) {
                        window.location.href = window.location.href + '?id=' + data.id;
                    } else {
                        window.location.reload(true);
                        window.scrollTo(0, 0);
                    }
                }
            });
        } catch (err) {
            console.error(err);
        }

        return false;
    });
</script> {% endblock %}