{% extends "admin/admin.html" %} {% block main %}

<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Edit Show</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Details</h1>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label>Name:</label><span class="required">*</span>
                                    <input name="showName" type="text" class="form-control" placeholder="N/A" required>
                                </div>
                                <div class="form-group row">
                                <div class="col-md-6">
                                    <label>URL:</label>
                                    <input name="showURL" type="text" class="form-control" placeholder="N/A">
                                </div>
                            </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Venue:</label><span class="required">*</span>
                                    <select name="showVenue" class="form-control" required>
                                        <option>RKC Petz Forum (RKC)</option>
                                        <option>Whiskerwick (WW)</option>
                                        <option>Kasual Kennels (KK)</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Category:</label><span class="required">*</span>
                                    <select name="showCategory" class="form-control" required>
                                        <option>EBW Pose Show (Dali)</option>
                                        <option>EBW Pose Show (Dane)</option>
                                        <option>Standard Pose Show (Dali)</option>
                                        <option>Standard Pose Show (Dane)</option>
                                        <option>Other/Contest</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Date:</label><span class="required">*</span>
                                    <input name="showDate" type="text" class="form-control" placeholder="N/A" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Entries</h1>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">BIS</span>
                                        <input name="showBIS" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">1st</span>
                                        <input name="showFirst" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">2nd</span>
                                        <input name="showSecond" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">3rd</span>
                                        <input name="showThird" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">HM</span>
                                        <input name="showHM" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="btn-toolbar col-md-12">
                            <button type="submit" class="btn btn-default pull-right">Submit</button>
                            <button type="submit" class="btn btn-default pull-right">Delete</button>
                            <a href="/admin/shows" class="btn btn-default pull-right">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}