{% extends "admin/admin.html" %} {% block main %}
<form action="" method="POST" style="margin-bottom: 80px">
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Edit Image</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Details</h1>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Image:</label><span class="required">*</span>
                                            {% if image.id %}
                                            <img class="thumbnail" src="/uploads/{{ image.file_name }}">
                                            {% endif %}
                                            <input name="image" type="file"
                                                {% if not image.id %}
                                                required
                                                {% endif %}
                                            >
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Category:</label><span class="required">*</span>
                                        <select name="category_id" class="form-control" required>
                                            {% for category in dropdowns.categories %}
                                                <option
                                                {% if category.id == image.category_id %}selected{% endif %}
                                                value="{{ category.id }}">{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Title:</label>
                                        <input name="title" type="text" class="form-control" placeholder="N/A" value="{{ image.title }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>URL:</label>
                                        <input name="url" type="text" class="form-control" placeholder="N/A" value="{{ image.url }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="btn-toolbar col-md-12">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                                <a href="/admin/images" class="btn btn-default pull-right">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('form').on('submit', function () {
        try {
            var form = new FormData(document.forms[0]);

            $.ajax({
                url: window.location.href,
                data: form,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.id) {
                        window.location.href = window.location.href + '?id=' + data.id;
                    } else {
                        window.location.reload(true);
                        window.scrollTo(0, 0);
                    }
                }
            });
        } catch (err) {
            console.error(err);
        }

        return false;
    });
</script>
{% endblock %}