{% extends "admin/admin.html" %} {% block main %}
<form action="" method="POST" style="margin-bottom: 80px">

    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Edit Entry</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Details</h1>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Pet:</label><span class="required">*</span>
                                        <select class="form-control" id="pet_id" name="pet_id" placeholder="N/A" required>
                                            {% if entry.pet_id %}
                                            <option selected="selected" value="{{ entry.pet_id }}">{{ entry.pet_name }}</option>
                                            {% endif %}
                                        </select>
                                    </div>

                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <label>Show:</label><span class="required">*</span>
                                        <input name="show_name" type="text" class="form-control" placeholder="N/A" required
                                            value="{{ entry.show_name }}"
                                        >
                                    </div>
                                    <div class="col-md-2">
                                        <label>Placement:</label><span class="required">*</span>
                                        <select name="placement_id" class="form-control" required>
                                            {% for placement in dropdowns.placements %}
                                                <option
                                                {% if placement == entry.placement %}selected{% endif %}
                                                value="{{ placement.id }}">{{ placement.placement_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <label>URL:</label><span class="required">*</span>
                                        <input name="url" type="text" class="form-control" placeholder="N/A" required
                                            value="{{ entry.url }}"
                                        >
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>Venue:</label><span class="required">*</span>
                                        <select name="venue_id" class="form-control" required>
                                            {% for venue in dropdowns.venues %}
                                                <option
                                                {% if venue == entry.venue %}selected{% endif %}
                                                value="{{ venue.id }}">{{ venue.venue_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Category:</label><span class="required">*</span>
                                        <select name="category_id" class="form-control" required>
                                            {% for category in dropdowns.categories %}
                                                <option
                                                {% if category == entry.category %}selected{% endif %}
                                                value="{{ category.id }}">{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Date:</label>
                                        <input name="show_date" type="text" class="form-control" placeholder="N/A">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="btn-toolbar col-md-12">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                                <button type="submit" class="btn btn-default pull-right">Delete</button>
                                <a href="/admin/entries" class="btn btn-default pull-right">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('#pet_id').select2({
        ajax: {
            dataType: 'json',
            url: '/admin/ajax/pets'
        }
    });

    $('form').on('submit', function () {
        try {
            var form = new FormData(document.forms[0]);

            $.ajax({
                url: window.location.href,
                data: form,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.id) {
                        window.location.href = window.location.href + '?id=' + data.id;
                    } else {
                        window.location.reload(true);
                        window.scrollTo(0, 0);
                    }
                }
            });
        } catch (err) {
            console.error(err);
        }

        return false;
    });
</script>
{% endblock %}