{% extends "index.html" %} {% block main %}

<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>{{ selectedNavItem | title}}</h2>
        <p>
            Work in progress.
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <em>Work in progress.</em>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <div class="download-link">
            <a href="#top"><i class="fas fa-arrow-alt-up"></i> Return to the top</a>
        </div>
    </footer>

</section>
<!-- </section> -->

{% endblock %}