{% extends "index.html" %} {% block main %}
<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>{{ selectedNavItem | title}}</h2>
        <p>
            Meet our special companion petz!
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <div class="sub-section">
        {% for pet in pets %}
        <div class="pet-item-container margin-none">
            <div class="pet-item">
                <div class="pet-item-image-container">
                    <img alt="" src="/uploads/{{ pet.img }}">
                </div>

                <span class="sub-section-header">
                    {% if pet.gender == 'Male' %}
                    <i alt="Male" title="Male" class="fas fa-mars male"></i>
                    {% else %}
                    <i alt="Female" title="Female" class="fas fa-venus female"></i>
                    {% endif %} {{ pet.pet_name }}
                </span>

            </div>
            <p class="item-description">
                {{ pet.description }}
            </p>
        </div>
        {% if not loop.last %}
        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>
        {% endif %} {% endfor %}
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <div class="download-link">
            <a href="#top"><i class="fas fa-arrow-alt-up"></i> Return to the top</a>
        </div>
    </footer>


</section>
<script>
    tippy('[title]', {
        theme: 'kk',
        arrow: true,
        flip: true,
        size: 'small',
    });
</script>
{% endblock%}