{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">

        <div class="content-introduction">
            <h2>Petz Genes</h2>
            <p>
                <em>Coming soon!</em>
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section-header margin-top-25">
            <strong>Table of Contents</strong>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>1. Introduction</strong>
        </div>

        <div class="long-form">
            <p>
                By now, most folks in the Petz community have a good sense of what works
                — and what doesn't — when it comes to Petz breeding, especially those who've
                been breeding since the late '90s. But for new and returning players, breeding
                still proves to be a confusing and often frustrating experience. To this day,
                even Petz veterans might find themselves scratching their heads when faced 
                with a stubborn pair of parents throwing suspiciously colored offspring.
            </p>
            <p>
                Fortunately, the vibrant Petz community has pooled together their findings
                and experiences over the years, shedding some much-needed light on the mystery that's
                Petz genetics. Unfortunately, many of these community members have moved on,
                leaving both the community and their research behind. And with the release
                of new applications and reverse-engineering tools, such as Reflet's GenePoolz,
                some of these community-standard guides might possibly be considered out-of-date in 2018.
            </p>
            <p>
                Armed with time-loved Petz breeding guides of the past and modern tools of the present,
                I decided to see if I could piece together a puzzle that still seemed a bit foggy and unclear.
                And after working on both a selective breeding project and a purebred-noninbred Dalmatian breeding project,
                both with fantastic, not to mention fast, results, I thought others in the community might be
                interested in reading about my experiences and applying what I've learned to their own projects.
            </p>
            <p>
                Throughout this guide, I'll be referencing and utilizing Reflet's GenePoolz.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>2. Gene Basics</strong>
        </div>

        <div class="long-form">
            <p>
                According to GenePoolz, petz carry 18 dominant genes and 18 recessive genes, for a grand total of 36 genes in their genetic profile.
            </p>
            <p>
                When breeding two petz from the adoption center, their offspring may exhibit and/or carry a mutation.
                Meaning, offspring born with a mutation are not guaranteed to simultaneously exhibit and carry the aforementioned mutation.
            </p>
            <p>
                The phrase "gene mutation" is often used to describe all breeding mutations.
                However, as noted above, a mutation is not always guaranteed to be a genetic mutation.
                In fact, offspring may exhibit a mutation without having the gene present in their genetic profile whatsoever.
                And if the gene is not present in their dominant and/or recessive gene pools, the mutation cannot be passed down.
            </p>
            <p>
                In second generation offspring, all genetic mutations will be set in the dominant gene pool and never the recessive gene pool.
                Further, the mutation may or may not be exhibited, meaning second-generation offspring may appear identical to their first-generation parents
                while carrying a highly desirable, or undesirable, gene.
            </p>
            <p>
                For best results when tackling breeding projects, especially noninbred ones, it may be worth spending extra time breeding sets of first-generation parents.
                Because second-generation offspring cannot carry recessive genetic mutations, introducing these petz into your breeding projects may be a trial in frustration 
                and possibly even set your project up to fail. 


                the time breeding first-generation sets of parents together until
                four offspring, each with desirable genes, are produced. Because second-generation offspring cannot carry recessive genetic mutations, introducing these petz
                into your breeding projects may be a trial in frustration and possibly even set your project up to fail. Instead, 
            </p>
            <p>
                Occasionally, offspring may exhibit their genetic mutations, but it's important to confirm their genetic profile before breeding them into your projects.
                Offspring exhibiting desirable or undesirable mutations may in fact contain a completely different genetic profile, with the potential to either salvage or sabatoge your project.
                It may be helpful to imagine petz have two inheritable sets of genes (dominant and recessive) and one uninheritable set of genes (exhibited), totaling three sets of genes.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>2.1 Marking Factor</strong>
        </div>

        <div class="long-form">
            <p>
                Petz contain two pairs of marking factor genes, two dominant and two recessive, determining the probability of offspring exhibiting inherited markings.
                GenePoolz proves that petz are limited to carrying and exhibiting only two groups of markings.
            </p>
            <div class="guide-image">
                <img alt="" title="Viewing a Dalmatian in GenePoolz." src="../img/guide-01-genes-mf-1.png">
            </div>
            
            <p>
                Adoption center parents will always carry marking factor values of 100 (out of 100) in all four gene categories.
                However, by genetic mutation, second-generation offspring may carry marking factor values anywhere from 0 to 100.
                Like all mutations, marking factor is not guaranteed to be simultaneously exhibited and carried in offspring's genetic profile.
            </p>
            <div class="guide-image">
                <img alt="" title="This Dalmatian carries a value of 0." src="../img/guide-01-genes-mf-2.png">
            </div>
            
            <p>
                When breeding, it's possible for offspring to inherit marking factor genes identical to those of the parent, both in value and position.
                Meaning, if a parent's dominant "Marking 1 Factor" contains a value of 50, their offspring may then inherit a dominant "Marking 1 Factor" value of 50.
            </p>
            <p>
                However, when offspring inherits a parent's marking factor genes, neither the value nor the position are guaranteed. Meaning,
                the marking factor value may jump from "Marking 1 Factor" to "Marking 2 Factor" in offspring. Further, the marking factor value may also jump
                from dominant to recessive and vice versa. Lastly, a marking factor value may fall into the same position, but the value itself may mutate into a new number.
            </p>
            <div class="guide-image">
                <img alt="" title="The value of 0 has jumped to a new position." src="../img/guide-01-genes-mf-3.png">
            </div>
            <p>
                Based on personal experience, it may also be possible for marking factor values to duplicate and appear more than once in offspring.
                For example, a petz of mine carried a marking factor value of 0, but one of their offspring was born with two marking factor values of 0,
                and while this may absolutely be a coincidence, I find it a highly improbable one.
                (It may also be that marking factor values less than 100 are more likely to mutate, but this, too, is just a theory.)
            </p>
            <p>
                Unfortunately, offspring exhibiting low or high marking factor is not a reliable indication they're carriers of inheritable genes.
                For example, offspring which appear to have no markings may produce offspring with many markings. Likewise, offspring which
                appear to have many markings may produce offspring with no markings. 
                Again, the source of truth is the genetic profile.
            </p>
            <p>
                In summary, marking factor is a complex element in petz genetics. 
                While breeding, take note of which markings are influenced by either the "Marking 1 Factor" or "Marking 2 Factor" genes.
                It's also important not to dismiss offspring entirely if an ideal marking factor value falls into a less-than-ideal position. 
                With diligent breeding, you can salvage the gene.
            </p>
        </div>

        <div class="sub-section-header margin-top-25">
            <strong>2.1 Coat Colors</strong>
        </div>

        <div class="long-form">
            <div class="guide-image">
                <img alt="" src="../img/guide-01-genes-coat-colors.png">
            </div>
            <p>
                When breeding two petz from the adoption center, their offspring may exhibit <strong>and/or</strong> carry a coat-color gene mutation.
                Meaning, offspring born with a coat-color gene mutation are <strong>not guaranteed</strong> to simultaneously exhibit and carry the aforementioned coat-color gene.
            </p>
            <p>  
                Further, in second-generation offspring, all coat-color gene mutations will either be exhibited <strong>and/or</strong> dominant.
                Second-generation coat-color gene mutations will never be set in the offspring's recessive gene pool.
            </p>
            <p>
                Because coat-color gene mutations, if present in the offspring's gene profile, are always dominant, this enforces
                the community's hunch that second-generation offspring have an impactful effect on the successful outcome of breeding projects.
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <footer>
            {# <span>
            For more on Petz genetics, visit Kleo at
            <a target="_blank" href="https://reflettage.wixsite.com/yabiko">
            <em>Intron/Exton</em></a>.
        </span>
        <p>
            GenePoolz developed by Reflet at
            <a target="_blank" href="https://reflettage.wixsite.com/yabiko">
                <em>Yabiko</em></a>.
        </p> #}
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>

    </section>
    <script>
        tippy('[title]', {
            theme: 'kk',
            arrow: true,
            flip: true,
            size: 'small'
        });
    </script>
{% endblock %}