{% extends "index.html" %} {% block main %}

<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>GenePoolz Guide</h2>
        <p>
            <em>Coming soon!</em>
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <em>None available.</em>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <p>
            GenePoolz developed by Reflet at
            <a target="_blank" href="https://reflettage.wixsite.com/yabiko">
                <em>Yabiko</em></a>.
        </p>
        <div class="download-link margin-t-10">
            <a href="#top"><i class="fas fa-arrow-alt-up"></i> Return to the top</a>
        </div>
    </footer>

</section>
<script>
    tippy('[title]', {
        theme: 'kk',
        arrow: true,
        flip: true,
        size: 'small',
    });
</script>
{% endblock %}