{% extends "index.html" %} {% block main %}

<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>Home</h2>
        <p>
            Welcome to
            <em>Kasual Kennels</em>, a
            <a target="_blank" href="https://en.wikipedia.org/wiki/Petz">Petz 4</a> (1999) fan site!
        </p>
        <p>
            I'm Kas, and I'm about nineteen years late joining the online Petz community, but what's the rush when you're a kid forever?
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <div>
            <strong>Updated:</strong> {{ update.date }}
        </div>
        {% if update.notes %}
        <div class="margin-top-10">
            {{ update.notes }}
        </div>
        {% endif %}
    </footer>

</section>

{% endblock %}