{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">
        <div class="content-introduction">
            <h2>{{ selectedNavItem | title}}</h2>
            <p>
                Use the dropdown filters below to browse our featured petz, then hover over their picture to learn more.
                All petz are available for litter requests. New petz are loaded first!
            </p>
            <p>
                While all petz here at <em>Kasual Kennels</em> are registered in our new database, not all are currently featured for display.
                Our complete registry may become available at a later date.
            </p>
        </div>

        <div class="filter-container clearfix">
            <div class="col col-4">
                <select class="filter-control filter-dropdown" id="gender" data-placeholder="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="col col-4">
                <select class="filter-control filter-dropdown" id="ancestry" data-placeholder="Ancestry">
                    <option value="Inbred">Inbred</option>
                    <option value="Noninbred">Noninbred</option>
                    <option value="Mixed Breed">Mixed Breed</option>
                    <option value="Purebred">Purebred</option>
                </select>
            </div>

            <div class="col col-4">
                <select class="filter-control filter-dropdown" id="breed_id" data-placeholder="Breed">
                    {% for breed in filters.breeds %}
                        <option value="{{ breed.id }}">{{ breed.breed_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section clearfix" id="kennel-list-app">
            <div class="kennel-item-container">
                {% raw %}

                <div class="kennel-item" v-for="pet in pets" :key="pet.pet_name" v-pet>
                    <img alt="" :src="'/uploads/' + pet.photo_url" class="pet-image">

                    <div class="tooltip-container" :data-pet-gender="pet.gender">
                        <div class="kennel-item-details clearfix">
                            <ul>
                                <li>
                                    <img alt="" :src="'/uploads/' + pet.thumb_url" class="margin-top-10 info test">
                                </li>
                                <li>
                                    <i alt="" :title="pet.gender" :class="{
                                        'fa-venus female'  : pet.gender == 'Female',
                                        'fa-mars male'     : pet.gender == 'Male',
                                        'fas'              : true
                                    }" :data-pet-name="pet.pet_name"></i>
                                    <strong>{{ pet.pet_name }}</strong>
                                    the <strong>{{ pet.breed_name }}</strong>
                                </li>
                                <li>
                                    {{ pet.origin }} <span v-if="pet.previous_owner">by 
                                        {{ pet.previous_owner }} <span v-if="pet.previous_site">@ {{ pet.previous_site }}</span>
                                    </span>
                                </li>
                                <li class="margin-top-10">
                                    <strong>Gen(s):</strong> {{ pet.generation }}
                                </li>
                                <li>
                                    <strong>Trait(s):</strong> <span>{{ pet.traits.join(', ') }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% endraw %}
            </div>
        </div>

        <div class="divider-container-lg ">
            <div class="divider-lg "></div>
        </div>

        <footer>
            <p>
                Breeds are categorized by head shape.
            </p>
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>
    </section>

    {# <div id="kennelsTippy" style="display: none;">
        <div class="kennel-item-details clearfix">
            <ul>
                <li>
                    <img alt="" src="../img/kennels/gacrux-thumb.png" class="margin-top-10 info test" data-tippy="data-tippy">
                </li>
                <li>
                    <i alt="Female" title="Female" class="fas fa-venus female"></i>
                    <strong>Name</strong>
                    the <strong>Breed</strong>
                </li>
                <li>
                    Method by Owner @ Website
                </li>
                <li class="margin-top-10">
                    <strong>Gen(s):</strong> 1
                </li>
                <li>
                    <strong>Trait(s):</strong> Inbred, Selective Breed, Tree-Trimmed
                </li>
                <li class="margin-top-10">
                    <strong>Note(s):</strong> N/A
                </li>
            </ul>
        </div>
    </div> #}
{% endblock %}

{% block scripts %}
    <script src="/js/vue.min.js"></script>
    <script>
        Vue.directive('pet', {
            inserted(elem, binding, vnode) {
                var photo = elem.querySelector('.pet-image');
                setTimeout(function () {
                tippy(photo, {
                    html: elem.querySelector('.tooltip-container'),
                    theme: 'kk',
                    followCursor: true
                });
                }, 100);
            }
        });

        var KennelApp = new Vue({
            el: '#kennel-list-app',
            data: {
                pets: [],
            },
            methods: {
                formatPetTraits(traits) {
                    return traits.join(', ');
                }
            }
        });
    </script>

    <script>
        // Select2

        $(function () {
            $('.filter-dropdown').each(function () {
                var placeholder = $(this).attr('data-placeholder');
                $(this).select2({
                    minimumResultsForSearch: -1,
                    placeholder: placeholder,
                    allowClear: true
                });
                $(this).val(null).trigger('change'); // fixes bug with select2 auto selecting an entry.
            });

            setTimeout(search);
            $('.filter-control').change(search);

            function search() {
                var payload = {};
                $('.filter-control').each(function () {
                    var id = $(this).attr('id');
                    payload[id] = $(this).val();
                });
                $.get('/api/search-pets', payload).done(function (pets) {
                    KennelApp.pets.splice(0, KennelApp.pets.length);
                    pets.forEach(function (pet) { KennelApp.pets.push(pet) });
                });
            }
        });
    </script>
{% endblock %}