{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">
        <div class="content-introduction">
            <h2>{{ selectedNavItem | title}}</h2>
            <p>
                To browse our petz, use the dropdown filters below!
            </p>
        </div>

        <div class="filter-container clearfix">
            <div class="col col-4">
                <select class="filter-dropdown" id="gender" data-placeholder="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="col col-4">
                <select class="filter-dropdown" id="ancestry" data-placeholder="Ancestry">
                    <option value="Inbred">Inbred</option>
                    <option value="Noninbred">Noninbred</option>
                </select>
            </div>

            <div class="col col-4">
                <select class="filter-dropdown" id="breed" data-placeholder="Breed">
                    {% for breed in filters.breeds %}
                        <option value="{{ breed.id }}">{{ breed.breed_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section clearfix">
            <div class="kennel-item-container">
                <div class="kennel-item">
                    <img alt=" " src=" ../img/kennels/gacrux.png" class="test" data-tippy>
                </div>
                <div class="kennel-item">
                    <img alt=" " src=" ../img/kennels/gacrux.png" class="test" data-tippy>
                </div>
                <div class="kennel-item">
                    <img alt=" " src=" ../img/kennels/gacrux.png" class="test" data-tippy>
                </div>
            </div>
        </div>

        <div class="divider-container-lg ">
            <div class="divider-lg "></div>
        </div>

        <footer>
            <p>
                Breeds are categorized by head types.
            </p>
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>
    </section>

    <div id="kennelsTippy" style="display: none;">
        <div class="kennel-item-details clearfix">
            <ul>
                <li>
                    <img alt="" src="../img/kennels/gacrux-thumb.png" class="margin-top-10 info test" data-tippy="data-tippy">
                </li>
                <li>
                    <i alt="Female" title="Female" class="fas fa-venus female"></i>
                    <strong>Name</strong>
                    the <strong>Breed</strong>
                </li>
                <li>
                    Method by Owner @ Website
                </li>
                <li class="margin-top-10">
                    <strong>Gen(s):</strong> 1
                </li>
                <li>
                    <strong>Trait(s):</strong> Inbred, Selective Breed, Tree-Trimmed
                </li>
                <li class="margin-top-10">
                    <strong>Note(s):</strong> N/A
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Select2
        $(function () {
            $('select').each(function () {
                var placeholder = $(this).attr("data-placeholder");
                $(this).select2({minimumResultsForSearch: -1, placeholder: placeholder, allowClear: true});
                $(this)
                    .val(null)
                    .trigger('change');
            });

            setTimeout(function () {
                $('select').on('change', updateFilters);
                updateFilters();
            }, 1);

            function updateFilters() {
                var gender = $('#gender').val();
                var ancestry = $('#ancestry').val();
                var breed = $('#breed').val();

                $
                    .get('/api/search-pets', {
                        gender: gender,
                        ancestry: ancestry,
                        breed: breed
                    })
                    .done(function (pets) {});
            }
        });
    </script>
    <script>
        tippy('.test', {
            html: '#kennelsTippy',
            theme: 'kk',
            followCursor: true,
        });
    </script>
{% endblock %}