<div class="sidebar-container">

    <section class="sidebar">
        <div class="sidebar-menus-container">
            <div class="sidebar-main-menu">
                <summary>
                    A Petz 4 site!
                </summary>

                <header>
                    <a href="/">
                        <h1>Kasual Kennels</h1>
                    </a>
                </header>

                <div class="main-menu-overlay">
                    <ul class="main-menu">
                        <li>
                            <a href="javascript:void(0)" data-display-menu="submenu-visit">Visit</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-display-menu="submenu-adopt">Adopt</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-display-menu="submenu-work">Work</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-display-menu="submenu-play">Play</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-display-menu="submenu-misc">Misc</a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu-bg"></div>

                <img class="featured-petz a" src="/img/paws.gif" alt=""></img>
                <img class="featured-petz b" src="/img/busy.gif" alt=""></img>
            </div>
            <div class="sidebar-submenu-container">
                <nav class="sidebar-submenu" data-sub-menu="submenu-visit">
                    <ul>
                        <li>
                            <a data-nav-item="crew" href="/crew">Crew</a>
                        </li>
                        <li>
                            <a data-nav-item="kennels" href="/kennels">Kennels</a>
                        </li>
                        <li>
                            <a data-nav-item="album" href="/album">Album</a>
                        </li>
                        <li>
                            <a data-nav-item="showroom" href="/showroom">Showroom</a>
                        </li>
                        <li>
                            <a data-nav-item="awards" href="/awards">Awards</a>
                        </li>
                        <li>
                            <a data-nav-item="gifts" href="/gifts">Gifts</a>
                        </li>
                    </ul>
                </nav>
                <nav class="sidebar-submenu" data-sub-menu="submenu-adopt">
                    <ul>
                        <li>
                            <a data-nav-item="breeders" href="/breeders">Breeders</a>
                        </li>
                        <li>
                            <a data-nav-item="singles" href="/singles">Singles</a>
                        </li>
                        <li>
                            <a data-nav-item="litters" href="/litters">Litters</a>
                        </li>
                        {# <li>
                            <a data-nav-item="apply" href="/apply">Apply</a>
                        </li> #}
                    </ul>
                </nav>
                <nav class="sidebar-submenu" data-sub-menu="submenu-work">
                    <ul>
                        <li>
                            <a data-nav-item="toys" href="/toys">Toys</a>
                        </li>
                        <li>
                            <a data-nav-item="clothes" href="/clothes">Clothes</a>
                        </li>
                        <li>
                            <a data-nav-item="playscenes" href="/playscenes">Playscenes</a>
                        </li>
                        <li>
                            <a data-nav-item="projects" href="/projects">Projects</a>
                        </li>
                        {# <li>
                            <a data-nav-item="guides" href="/guides">Guides</a>
                        </li> #}
                    </ul>
                </nav>
                <nav class="sidebar-submenu" data-sub-menu="submenu-play">
                    <ul>
                        <li>
                            <a data-nav-item="shows" href="/shows">Shows</a>
                        </li>
                        <li>
                            <a data-nav-item="stamps" href="/stamps">Stamps</a>
                        </li>
                        <li>
                            <a data-nav-item="find-it" href="/find-it">Find-It</a>
                        </li>
                    </ul>
                </nav>
                <nav class="sidebar-submenu" data-sub-menu="submenu-misc">
                    <ul>
                        <li>
                            <a data-nav-item="links" href="/links">Links</a>
                        </li>
                        <li>
                            <a data-nav-item="resources" href="/resources">Resources</a>
                        </li>
                        <li>
                            <a data-nav-item="contact" href="/contact">Contact</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </section>
</div>