{% extends "index.html" %} {% block main %}
<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>{{ selectedNavItem | title}}</h2>
        <p>
            When we have time, we like to breed and hex, too!
        </p>
        <p>
            <strong>Available</strong> means the file is up for adoption.
            <strong>Limited</strong> means the file may be available for trade.
            <strong>Closed</strong> means the file is currently not available for adoption or trade.
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <div class="sub-section">
        {% for project in projects %}

        <div class="sub-section-header-image">
            <img alt="" src="/uploads/{{ project.img }}">
        </div>

        <div class="sub-section-content-container">
            <span>
                <strong>{{ project.project_name }}</strong>
            </span>
            <span class="sub-section-header-descriptor">
                {{ project.category }} ({{ project.completed_date}})
            </span>
            {% if project.description %}
            <p class="margin-bottom-25">
                {{ project.description }}
            </p>
            {% endif %}
            <span>
                <strong>Status:</strong> {{ project.project_status }}
            </span>
        </div>

        {% if not loop.last %}
        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>
        {% endif %} {% endfor %}
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <p>
            All adoptions are for
            <a target="_blank" href="https://en.wikipedia.org/wiki/Petz">Petz 4</a>.
        </p>
        <div class="download-link margin-t-10">
            <a href="#top"><i class="fas fa-arrow-alt-up"></i> Return to the top</a>
        </div>
    </footer>

</section>
<script>
    tippy('[title]', {
        theme: 'kk',
        arrow: true,
        flip: true,
        size: 'small',
    });
</script>
{% endblock %}