{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">

        <div class="content-introduction">
            <h2>{{ selectedNavItem | title}}</h2>
            <p>
                Want to share or recommend a resource?
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://anchortool.petz.site" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Paint Ballz Anchor Tool</strong></a>
            </span>
            <p class="margin-top-10">
                Apply color, texture, and anchors to LNZ code!
            </p>
            <p class="small-font margin-top-25">
               Created here at <em>Kasual Kennels</em>.
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>


        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="https://www.ascensiongamedev.com/community/topic/619-mass-image-to-png-format-converter-with-a-transparent-background/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Background Transparency Converter</strong></a>
            </span>
            <p class="margin-top-10">
                Great with Petz Pic Factory.
            </p>
            <p class="small-font margin-top-25">
               Created by Kibbelz.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://whiskerwick.boards.net/thread/5550/genepoolz-genetics-checker-pet-files" target="_blank">
                <i class="fas fa-external-link"></i> <strong>GenePoolz</strong></a>
            </span>
            <p class="margin-top-10">
                View Petz genetics.
            </p>
            <p class="small-font margin-top-25">
                Created by Reflet.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.onyxbits.de/giftedmotion" target="_blank">
                <i class="fas fa-external-link"></i> <strong>GiftedMotion</strong></a>
            </span>
            <p class="margin-top-10">
                Minimal animated GIF editor.
            </p>
            <p class="small-font margin-top-25">
                Created by Onyxbits.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=2" target="_blank">
                <i class="fas fa-external-link"></i> <strong>LNZ Pro</strong></a>
            </span>
            <p class="margin-top-10">
                Edit Petz resources.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Sherlock Software</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://kel.rainbow-muffin.org/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Official Downloads</strong></a>
            </span>
            <p class="margin-top-10">
                Downloadable content created by PF Magic.
            </p>
            <p class="small-font margin-top-25">
                Hosted by <em>Middle Night</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=2" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Petz Workshop</strong></a>
            </span>
            <p class="margin-top-10">
                Edit Petz resources in 3D.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Sherlock Software</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://jewellz.net/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Petz 4 AutoHotkeys</strong></a>
            </span>
            <p class="margin-top-10">
                Prevent repetitive strain injury of the wrist.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by Jewellz at <em>Reverie</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=2" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Petz Pic Factory</strong></a>
            </span>
            <p class="margin-top-10">
                Extract adoption center pictures from Petz files.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Sherlock Software</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=2" target="_blank">
                <i class="fas fa-external-link"></i> <strong>PetzA</strong></a>
            </span>
            <p class="margin-top-10">
                Petz game enhancements.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Sherlock Software</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://kel.rainbow-muffin.org/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Playscene Converter</strong></a>
            </span>
            <p class="margin-top-10">
                Repair custom Petz 4 playscenes.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Middle Night</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://kel.rainbow-muffin.org/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Runaway Rescue</strong></a>
            </span>
            <p class="margin-top-10">
                Recover runaway petz.
            </p>
            <p class="small-font margin-top-25">
                Created by Firebird at <em>MK&C</em> and hosted by <em>Middle Night</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=2" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Tinker</strong></a>
            </span>
            <p class="margin-top-10">
                Edit Petz filmstrips.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by <em>Sherlock Software</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://www.johnnyramble.com/RKC/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Speedwagon's UnMute Utility</strong></a>
            </span>
            <p class="margin-top-10">
                Unmute Petz 5 petz.
            </p>
            <p class="small-font margin-top-25">
                Created by Speedwagon and hosted by <em>Ratqueen Kennels & Cattery</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://jewellz.net/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Trickster Tool</strong></a>
            </span>
            <p class="margin-top-10">
                Convert catz to tricksters.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by Jewellz at <em>Reverie</em>.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-content-container">
            <span class="sub-section-header download-link">
                <a href="http://jewellz.net/" target="_blank">
                <i class="fas fa-external-link"></i> <strong>Trotter Tool</strong></a>
            </span>
            <p class="margin-top-10">
                Convert dogz to trotters.
            </p>
            <p class="small-font margin-top-25">
                Created and hosted by Jewellz at <em>Reverie</em>.
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <footer>
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>
    </section>
    <script>
        tippy('[title]', {
            theme: 'kk',
            arrow: true,
            flip: true,
            size: 'small'
        });
    </script>
{% endblock %}