{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">

        <div class="content-introduction">
            <h2>{{ selectedNavItem | title}}</h2>
            <p>
                Meet the stars of our kennels!
            </p>
            <p>
                All petz on display are currently active in the show ring.
                Petz are removed from the page as they leave or retire from the show ring.
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section">
            {% for pet in pets %}
                {% if pet.career_status == 'Active' %}
                    <div class="sub-section-header-image">
                        {% if pet.dane_img %}
                            <div class="pet-item">
                                <div class="pet-item-image-container">
                                    <img alt="" title="Dane Pose" src="/uploads/{{ pet.dane_img }}">
                                </div>
                            </div>
                        {% endif %}
                        {% if pet.dali_img %}
                            <div class="pet-item">
                                <div class="pet-item-image-container">
                                    <img alt="" title="Dali Pose" src="/uploads/{{ pet.dali_img }}">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <div class="sub-section-header">
                            <span class="highlight">{{ pet.pet_name }}</span>
                            <span>
                                <strong>{{ pet.prefix_titles}}
                                    {% if pet.show_prefixes %}
                                    {{ pet.show_prefixes }}/{% endif %}KK's {{ pet.show_name }}
                                    {{ pet.suffix_titles}}</strong>
                            </span>
                        </div>
                    </div>

                    {% for entry in pet.entries %}
                        {% if entry.placement_name == 'BIS' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_bis.gif">
                        {% endif %}
                        {% if entry.placement_name == '1st' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_1st.gif">
                        {% endif %}
                        {% if entry.placement_name == '2nd' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_2nd.gif">
                        {% endif %}
                        {% if entry.placement_name == '3rd' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_3rd.gif">
                        {% endif %}
                        {% if entry.placement_name == 'HM' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_hm.gif">
                        {% endif %}
                        {% if entry.placement_name == 'P' %}
                            <img alt="" title="{{ entry.show_name }}" src="/img/ribbon_p.gif">
                        {% endif %}
                    {% endfor %}

                    {% if not loop.last %}
                        <div class="divider-container-sm">
                            <div class="divider-sm"></div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <footer>
            <p>
                Ribbons were designed by
                <a target="_blank" href="http://petzforum.proboards.com/thread/141/show-points-titles-system">Ratqueen</a>
                and edited by
                <a target="_blank" href="http://petzforum.proboards.com/thread/63900/verms-showroom">Vermidia</a>.
            </p>
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>

    </section>
<script>
    tippy('[title]', {
        theme: 'kk',
        arrow: true,
        flip: true,
        size: 'small',
    });
</script>
{% endblock %}