{% extends "index.html" %} {% block main %}

<a name="top"></a>
<section class="content-container">

    <div class="content-introduction">
        <h2>{{ selectedNavItem | title}}</h2>
        <p>
            Toys created here for your game!
        </p>
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <div class="sub-section">
        {% for toy in downloads %}
        <div class="sub-section-header-image">
            <img alt="" src="/uploads/{{ toy.img }}">
        </div>
        <div class="sub-section-content-container">
            <span class="sub-section-header">
                {{ toy.name }}
            </span>
            <ul class="download-link">
                {% for file in toy.files %}
                <li>
                    <a href="/uploads/{{ file.file_name }}" download>
                        <i class="fas fa-download"></i> Download for {{ file.download_name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if not loop.last %}
        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>
        {% endif %} {% endfor %}
    </div>

    <div class="divider-container-lg">
        <div class="divider-lg"></div>
    </div>

    <footer>
        <div class="download-link">
            <a href="#top"><i class="fas fa-arrow-alt-up"></i> Return to the top</a>
        </div>
    </footer>

</section>
<script>
    tippy('[title]', {
        theme: 'kk',
        arrow: true,
        flip: true,
        size: 'small',
    });
</script>
{% endblock %}