{% extends "index.html" %}
{% block main %}

    <a name="top"></a>
    <section class="content-container">

        <div class="content-introduction">
            <h2>Transparency</h2>
            <p>
                A one-click transparency guide for Petz photos.
            </p>
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <div class="sub-section-header">
            <strong>Introduction</strong>
        </div>

        <div class="long-form">
            <p>
                I'm tired of editing Petz photos using image editing software just to make them transparent for websites, and I'm sure you are, too.
            </p>
            <p>
                What if I told you that you could convert an entire
                <em>folder</em>
                of Petz photos into transparent PNGs with a tap of your keyboard?
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 1: Download Tools</strong>
        </div>

        <ul class="download-link margin-top-25">
            <li>
                <a href="/files/PNG Background Transparency Converter.zip" download="download">
                    <i class="fas fa-download"></i>
                    PNG Background Transparency Converter
                </a>
            </li>
            <li>
                <a href="/files/Chroma Key Wallpapers.zip" download="download">
                    <i class="fas fa-download"></i>
                    Chroma Key Wallpapers
                </a>
            </li>
        </ul>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 2: Install Tools</strong>
        </div>

        <div class="long-form">
            <p>
                First, extract the PNG Background Transparency Converter archive anywhere onto your system.
            </p>
            <p>
                Next, extract one or more chroma key wallpapers to your Wallpapers folder inside your Petz Resource directory.
            </p>
            <p>
                <strong>Note 1:</strong> Despite being called a BMP to PNG converter, the executable is also capable of converting GIFs and PNGs into transparent PNGs. Feel free to use whichever format(s) you prefer.
            </p>
            <p>
                <strong>Note 2:</strong> Chroma key wallpapers map to Petz chart colors 249, 250, 251, 252, 253, and 254. Anything using these colors, including petz and accessories, will be made transparent. <span class="highlight-in-text">Be sure to choose the right chroma key for your needs.</span>
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 3: Settings</strong>
        </div>

        <div class="long-form">
            <p>
                Once your chroma key wallpapers are installed, launch Petz and select: Options > General Options
            </p>
            <div class="guide-image">
                <img alt="" title="Include background in photos." style="max-width: 100%;" src="../img/guide-02-camera-options.png">
            </div>
            <p>
                At the General Options screen, find the Camera Options section and enable Include Background In Photos. Auto save is optional.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 4: Setup Playpen</strong>
        </div>

        <div class="long-form">
            <p>
                Visit the Playpen playscene and select: Options > General Options
            </p>
            <div class="guide-image">
                <img alt="" title="Set any chroma key wallpaper." style="max-width: 100%;" src="../img/guide-02-wallpaper-options.png">
            </div>
            <p>
                At the General Options screen, find the Playscene Wallpaper section and scroll through the wallpapers until you find one of the chroma key wallpapers you installed earlier. Wallpapers are sorted alphabetically.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 5: Take Photos</strong>
        </div>

        <div class="long-form">
            <p>
                Once a chroma key wallpaper is applied, pick a petz and start taking photos.
            </p>
            <div class="guide-image">
                <img alt="" title="Take photos against the chroma key wallpaper." style="max-width: 100%;" src="../img/guide-02-wallpaper-setup.png">
            </div>
            <p>
                You may experience some lag between photos, so this technique may not be suitable for show photos, but normally you'd want solid, unedited white backgrounds for those, anyway.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 6: Move Photos</strong>
        </div>

        <div class="long-form">
            <p>
                After you've taken your photos, open the PetzPix folder in your Petz game directory.
            </p>
            <div class="guide-image">
                <img alt="" title="Move photos to the Graphics folder." style="max-width: 100%;" src="../img/guide-02-graphics-folder.png">
            </div>
            <p>
                Select the photos you want to make transparent from the PetzPix folder and move or copy them into the Graphics folder inside the PNG Background Transparency Converter directory you extracted earlier.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 7: Execute Converter</strong>
        </div>

        <div class="long-form">
            <p>
                Once you've moved or copied your photos into the Graphics folder, go back a directory and launch the executable file.
            </p>
            <div class="guide-image">
                <img alt="" title="Press any key to continue." style="max-width: 100%;" src="../img/guide-02-exe-terminal.png">
            </div>
            <p>
                When the terminal window opens, it'll prompt you to press any key on your keyboard to run the conversion process. Press ENTER. The terminal window will close automatically once the process is complete.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 8: Check Photos</strong>
        </div>

        <div class="long-form">
            <p>
                Once the terminal window closes, open the Converted folder inside the PNG Background Transparency Converter directory.
            </p>
            <div class="guide-image">
                <img alt="" title="Converted batch of photos." style="max-width: 100%;" src="../img/guide-02-converted-folder.png">
            </div>
            <p>
                All photos from the Graphics folder should have been successfully converted and copied into the Converted folder. If all steps were completed correctly, only the backgrounds should be transparent. When converting dogz, the whites of their eyes should remain solid.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Step 9: Cleanup</strong>
        </div>

        <div class="long-form">
            <p>
                Once you've finished using the converter, don't forget to delete all unneeded photos from the Graphics folder. This will keep the working directory clean for new batches.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            <strong>Optional: 
            <span class="download-link">
                <a href="http://www.sherlocksoftware.org/page.php?id=36" target="_blank">
                    <i class="fas fa-external-link"></i>
                    Petz Pic Factory</a>
            </span>
            </strong>
        </div>

        <div class="long-form">
            <p>
                The PNG Background Transparency Converter also works great with Sherlock Software's Petz Pic Factory, an application used to extract adoption center photos (or pick-a-pet-menu photos) from .pet files.
            </p>
            <div class="guide-image">
                <img alt="" title="Before and after conversion." style="max-width: 100%;" src="../img/guide-02-petz-pic-factory.png">
            </div>
            <p>
                If you'd like to use these photos in your projects, simply place the photos extracted from Petz Pic Factory into the Graphics folder inside the PNG Background Transparency Converter directory and convert normally. Petz Pic Factory photos are extracted with a chroma key background (magenta) already applied, so no extra work is required.
            </p>
        </div>

        <div class="divider-container-sm">
            <div class="divider-sm"></div>
        </div>

        <div class="sub-section-header">
            Hope it helps!
        </div>

        <div class="divider-container-lg">
            <div class="divider-lg"></div>
        </div>

        <footer>
            <div class="download-link margin-t-10">
                <a href="#top">
                    <i class="fas fa-arrow-alt-up"></i>
                    Return to the top</a>
            </div>
        </footer>

    </section>
    <script>
        tippy('[title]', {
            theme: 'kk',
            arrow: true,
            flip: true,
            size: 'small'
        });
    </script>
{% endblock %}